<div>
  <h5>
    <a class="highlight" href="/modules/{{ModuleCode}}">
      {{ModuleCode}} {{ModuleTitle}}
    </a>
    <span class="department">&middot; {{Department}}</span>
    <span class="mc">&middot; {{ModuleCredit}} MCs</span>
  </h5>
</div>
<div class="row">
  <dl class="col-sm-9">
    <p class="description">{{ModuleDescription}}</p>
    {{#if Prerequisite}}
      <dt>Prerequisites</dt>
      <dd>{{{linkedPrerequisite}}}</dd>
    {{/if}}
    {{#if Preclusion}}
      <dt>Preclusions</dt>
      <dd>{{{linkedPreclusion}}}</dd>
    {{/if}}
    {{#each History}}
      {{#if Lecturers}}
        <dt>Semester {{Semester}} Lecturer(s)</dt>
        {{#each Lecturers}}
          <dd class="lecturer{{#if @last}} last{{/if}}">{{this}}</dd>
        {{/each}}
      {{/if}}
    {{/each}}
    {{#if Workload}}
      <dt>Workload</dt>
      <dd class="workload">{{Workload}}</dd>
    {{/if}}
    <br>
  </dl>
  <dl class="col-sm-3">
    <div> 
      {{#each semestersOffered}}
        {{#if offered}} <span class="label label-default">Sem {{semester}}</span> {{/if}}
      {{/each}}
    </div>
    <hr class="hidden-xs">
    {{#if hasExams}}
      {{#each History}}
        <dt>Sem {{Semester}} Exam</dt>
        <dd class="exam">
          {{#if examStr}}
            <span>{{examDateStr}}</span>
            <span>{{examTimeStr}}</span>
          {{else}}
            No Exam
          {{/if}}
        </dd>
      {{/each}}
    {{else}}
      <dt>Exams</dt>
      <dd>No Exam</dd>
    {{/if}}
  </dl>
</div>
<div class="clearfix">
  <div class="buttons">
    <a class="cors btn btn-default btn-xs"
       {{#unless inCORS}}disabled="disabled"{{/unless}}
       href="{{CORSLink}}"
       target="_blank">
      <i class="fa fa-{{#if inCORS}}check{{else}}times{{/if}} fa-fw"></i>&nbsp;CORS
    </a>
    <a class="ivle btn btn-default btn-xs"
       data-code="{{ModuleCode}}"
       href="{{IVLELink}}"
       target="_blank">
      <i class="fa fa-graduation-cap"></i>&nbsp;IVLE
    </a>
    <div class="btn-group">
      <button class="btn btn-primary btn-xs dropdown-toggle"
              data-toggle="dropdown"
              data-code="{{ModuleCode}}"
              type="button">
        <i class="fa fa-plus-circle"></i>&nbsp;Add&nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        {{#each semestersOffered}}
          <li{{#unless offered}} class="disabled"{{/unless}}>
            <a href="#" class="add-timetable" data-semester="{{semester}}">
              Add to Semester {{semester}} Timetable
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <button class="add-bookmark btn btn-info btn-xs"
            data-code="{{ModuleCode}}"
            type="button">
      <i class="fa fa-bookmark"></i>&nbsp;Bookmark
    </button>
  </div>
</div>

